﻿@{
    ViewData["Title"] = "Выбор заявки";
}

<div class="MainPanel">
    <div class="ChooseApplicationPanel">
        <div class="ChooseApplicationHeader">
            Выберите заявку для посещения
        </div>
        <a href="/Home/PerposalApplication">
            <div class="ApplicationElement">
            <img src="~/images/User.jpg" alt="фото"/>
            <div>Личное посещение</div>
        </div>
        </a>
        <a href="/Home/GroupApplication">
            <div class="ApplicationElement">
            <img src="~/images/User.jpg" alt="фото"/>
            <div>Групповое посещение</div>
        </div>
        </a>
    </div>
     
</div>



<style>
    .MainPanel{
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ChooseApplicationPanel{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30% 70%;
        height: 400px;
        width: 800px;
        justify-content: center;
        align-items: center;
        justify-items: center;
        row-gap: 20px;
    }
    .ChooseApplicationHeader
    {
        grid-column: 1 / span 2;
        font-size: 35px;
        font-weight: bold;
    }
    .ApplicationElement{
        display: grid;
        grid-template-rows: 75% 25%;
        justify-content: center;
        align-items: center;
        justify-items: center;
        background-color: orange;
        border-radius: 10px;
        height: 300px;
        width: 300px;
        transition: transform 0.2s ease-in-out;
    }
    .ApplicationElement:hover{
        transform: scale(1.1);
    }
    .ApplicationElement img{
        height: 175px;
        border-radius: 10px;
    }
    .ApplicationElement div{
        font-size: 20px;
        font-weight: bold;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
</style>
