﻿@{
    ViewData["Title"] = "Оформление групповой заявки";
}

<div class="MainPanel">
    <div class="ApplicationHeader">Форма записи на групповое посещение</div>
    <div class="ApplicationPanel">
        <div class="ElementPanel Element1">
            <div class="ElementPanelHeader"> 
                <div>
                    Информация для пропуска
                </div>
            </div>
            <div class="ContainerElement1">
                <div>
                    Срок действия заявки:
                </div>
                <div style="display: flex">
                    <div style="margin-right: 10px;">
                        c
                    </div>
                    <input type="date" style="margin-right: 10px;"/>
                    <div style="margin-right: 10px;">
                        по
                    </div>
                    <input type="date" style="margin-right: 10px;"/>
                </div>
                <div>
                    Цель посещения:
                </div>
                <div>
                    <input  type="text"/>
                </div>
            </div>
        </div>
        <div class="ElementPanel Element2">
            <div class="ElementPanelHeader"> 
                <div>
                    Принимающая сторона
                </div>
            </div>
            <div class="ContainerElement2">
                <div>
                    Подразделение: 
                </div>
                 <div>
                    <select class="SelectDivision">
                        <option value="value1">Подразделение 1</option>
                        <option value="value2">Подразделение 2</option>
                        <option value="value3">Подразделение 3</option>
                    </select>
                </div>
                <div>
                    ФИО: 
                </div>
                <div style="display: flex">
                    <select class="SelectEmployee">
                        <option value="value1">Сотрудник 1 </option>
                        <option value="value2">Сотрудник 2</option>
                        <option value="value3">Сотрудник 3</option>
                    </select>
                    <img src="~/images/User.jpg" alt="фото" style="height: 30px; width: 27px;" />
                </div>
            </div>
        </div>
        <div class="ElementPanel Element3">
            <div class="ElementPanelHeader"> 
                <div>
                    Информация о посетителе
                </div>
            </div>
            <div class="ContainerElement3">
                <div class="ContainerElement3InputPanel">
                    <div class="ContainerElement3InputObject">
                        <div style="grid-column: 1; grid-row: 1;">Фамилия:</div>
                        <div style="grid-column: 1; grid-row: 2;">Имя:</div>
                        <div style="grid-column: 1; grid-row: 3;">Отчество:</div>
                        <div style="grid-column: 1; grid-row: 4;">Телефон:</div>
                        <div style="grid-column: 1; grid-row: 5;">E-mail:</div>
                        <input style="grid-column: 2; grid-row: 1;" type="text" />
                        <input style="grid-column: 2; grid-row: 2;" type="text" />
                        <input style="grid-column: 2; grid-row: 3;" type="text" />
                        <input style="grid-column: 2; grid-row: 4;" type="text" />
                        <input style="grid-column: 2; grid-row: 5;" type="text" />
                    </div>
                    <div class="ContainerElement3InputObject">
                        <div style="grid-column: 1; grid-row: 1;">Организация:</div>
                        <div style="grid-column: 1; grid-row: 2;">Примечание:</div>
                        <div style="grid-column: 1; grid-row: 3;">Дата рождения:</div>
                        <div style="grid-column: 1; grid-row: 4;">Серия:</div>
                        <div style="grid-column: 1; grid-row: 5;">Номер:</div>
                        <input style="grid-column: 2; grid-row: 1;" type="text" />
                        <input style="grid-column: 2; grid-row: 2;" type="text" />
                        <input style="grid-column: 2; grid-row: 3;" type="text" />
                        <input style="grid-column: 2; grid-row: 4;" type="text" />
                        <input style="grid-column: 2; grid-row: 5;" type="text" />
                    </div>
                </div>
                <div style="display:flex; justify-content: right">
                    <button>Добавить посетителя</button>
                </div>
            </div>
        </div>
        <div class="ElementPanel Element4">
            <div class="ElementPanelHeader"> 
                <div>
                    Список посетителей
                </div>
            </div>
            <div class="ContainerElement4">
                 <div style="grid-column: 1; grid-row: 1">
                Загрузить список*
            </div>
            <div style="grid-column: 2; grid-row: 1">
                Скачать шаблон списка*
            </div>
            <div style="grid-column: 1 / span 2; grid-row: 2">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 10%">№</th>
                            <th style="width: 30%">ФИО</th>
                            <th style="width: 40%">Контакты</th>
                            <th style="width: 30%">Фотография</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Косарев Никита Олегович</td>
                            <td>+79022347766</td>
                            <td>
                                <button>Загрузить</button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button>Загрузить</button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button>Загрузить</button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button>Загрузить</button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button>Загрузить</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        <div class="ElementPanel Element5">
            <div class="ElementPanelHeader"> 
                <div>
                    Прикрепляемые документы
                </div>
            </div>
            <div class="ContainerElement5">
                <div>Прикрепить файл*</div>
            </div>
        </div>
        <div class="Element6">
            <div>
                <a>
                    <div>Очистить форму</div>
                </a>
            </div>
            <div>
                <button>Оформить заявку</button>
            </div>
        </div>
    </div>
</div>



<style>
    .MainPanel{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ApplicationHeader{
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 20px;

    }
    .ApplicationPanel{
        display: grid;
        height: 80vh;
        width: 160vh;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 35% 45% 20%;
    }
    .ElementPanel{
        display: grid;
        grid-template-rows: 30% 70%;
        background-color: lightgray;
        border-radius: 10px;
        box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.3);
        margin: 15px;
    }
    .ElementPanelHeader{
        display: flex;
        background-color: orange;
        border-radius: 10px 10px 0 0;
        justify-content: center;
        align-items: center;
    }
    .ElementPanelHeader div{
        font-size: 22px;
        font-weight: bold;
    }
    .Element2{
        grid-column: 2 / span 2;
    }
    .Element3{
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    .Element4{
        grid-row: 2;
        grid-column: 3;
    }
    .Element5{
        grid-row: 3;
        grid-column: 1 / span 2;
    }
    .ContainerElement1{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin-bottom: 10px;
    }
    .ContainerElement1 div{
        font-size: 20px;
    }
    .ContainerElement1 input[type="text"]{
        font-size: 20px;
        width: 350px;
    }
    .ContainerElement1 input[type="date"]{
        font-size: 20px;
        width: 140px
    }
    .ContainerElement2{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        row-gap: 5px;
    }
    .ContainerElement2 div{
        font-size: 20px;
    }
    .SelectDivision{
        width: 800px;
        height: 30px;
        font-size: 20px;
    }
    .SelectEmployee{
        width: 750px;
        margin-right: 20px;
        height: 30px;
        font-size: 20px;
    }
    .ContainerElement3{
        display: grid;
        grid-template-rows: 80% 20%;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-top: 10px;
        align-items: center;
        
    }
    .ContainerElement3InputPanel{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .ContainerElement3InputObject{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 10px;
    }
    .ContainerElement3InputObject div{
        font-size: 15px;
    }
    .ContainerElement3InputObject input{
        width: 250px;
    }
    .ContainerElement3 button{
        width: 200px;
        height: 30px;
        font-size: 15px;
        background-color: white;
        border-color: orange;
        border-radius: 10px;
        margin-right: 30px;
    }
    .ContainerElement4{
        display: grid;
        grid-template-rows: 15% 85%;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-bottom: 10px;
    }
    table{
         border-collapse: collapse;
         width: 500px;
         height: 20px;
         font-size: 12px;
         justify-content: center;
    }
    tr{
        border-bottom: 1px solid black;
    }
    table button{
        font-size: 12px;
        background-color: white;
        border-color: orange;
        border-radius: 4px;
    }
    .ContainerElement4 tbody td{
        padding: 5px;
        text-align: center;
    }
    .ContainerElement5{
        display: flex;
        font-size: 20px;
        margin-left: 25px;
        align-items: center;
        justify-content: center;
    }
    .Element6{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 3;
        grid-row: 3;
        justify-content:center;
        justify-items: center;
        align-items: center;
        margin-inline: 55px;
    }
    .Element6 a{
        text-decoration: none;
        color: inherit;
    }
    .Element6 div{
        font-size: 20px;
    }
    .Element6 button{
        width: 250px;
        height: 45px;
        font-size: 20px;
        background-color: white;
        border-color: orange;
        border-radius: 10px;
    }
</style>
