﻿@model WebApplicationPassOrder.Models.Users;

@{
    ViewData["Title"] = "Регистрация";
}

<div class="MainPanel">
    <form method="post" asp-controller="Home" asp-action="Register"> 
        <div class="PanelRegistration">
            <div class="PanelRegisrationHeader">
                <div>Регистрация</div>
            </div>
            <div class="InputField">
                <div style="grid-column: 1; grid-row: 1">Имя пользователя: </div>
                <input asp-for="Username" style="grid-column: 2; grid-row: 1"/>
                <div class="SpanPanel">
                    <span asp-validation-for="Username" ></span>
                </div>
            </div>
            <div class="InputField">
                <div style="grid-column: 1; grid-row: 1">Электронная почта: </div>
                <input asp-for="Email" style="grid-column: 2; grid-row: 1"/>
                <div class="SpanPanel">
                    <span asp-validation-for="Email" ></span>
                </div>
            </div>
            <div class="InputField">
                <div style="grid-column: 1; grid-row: 1">Пароль: </div>
                <input asp-for="Pasword" style="grid-column: 2; grid-row: 1"/>
                <div class="SpanPanel">
                    <span asp-validation-for="Pasword" ></span>
                </div>
            </div>
            <div class="PanelRegisrationHeaderDown">
                <button type="submit">Зарегистрироваться</button>
                <a href="/Home/Authorization">
                   <div>Уже есть аккаунт?</div>
                </a>
            </div>
        </div>
    </form>  
</div>



<style>
    .MainPanel{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .PanelRegistration{
        display: grid;
        grid-template-rows: 30% 15% 15% 15% 25%;
        height: 700px;
        width: 450px;
        box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    .PanelRegisrationHeader
    {
        background-color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0 0;
    }
    .PanelRegisrationHeader div{
        font-size: 40px;
        font-weight: bold;
        color: white;
    }
    .InputField{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80% 20%;
        align-items: center;
    }
    .SpanPanel{
        display: flex;
        align-items: center;
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    .InputField span{
        color: red;
        font-size: 17px;
    }
    .InputField div{
        margin-left: 20px;
        font-weight: bold;
        font-size: 17px;
    }
    .InputField input{
        justify-items: center;
        justify-content: center;
        width: 200px;
        height: 30px;
        font-size: 17px;
    }
    .PanelRegisrationHeaderDown{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .PanelRegisrationHeaderDown button{
        height: 45px;
        width: 250px;
        background-color: orange;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border: none;
        border-radius: 10px;
    }
    .PanelRegisrationHeaderDown a div{
        margin-top: 20px;
        font-size: 15px;
    }
</style>
