﻿@model WebApplicationPassOrder.Models.Applications;

@{
    ViewData["Title"] = "Оформление личной заявки";
}

<div class="MainPanel">
    <div class="ApplicationHeader">Форма записи на личное посещение</div>
    <form method="get" asp-controller="Home" asp-action="RegisterPrivateApplication">
        <div class="ApplicationPanel">
        <div class="ElementPanel Element1">
            <div class="ElementPanelHeader"> 
                <div>
                    Информация для пропуска
                </div>
            </div>
            <div class="ContainerElement1">
                <div>
                    Срок действия заявки:
                </div>
                <div style="display: flex">
                    <div style="margin-right: 10px;">
                        c
                    </div>
                    <input   type="date" style="margin-right: 10px;"/>
                    <div style="margin-right: 10px;">
                        по
                    </div>
                    <input asp-for="DateFinal" type="date" style="margin-right: 10px;"/>
                </div>
                <div>
                    Цель посещения:
                </div>
                <div>
                    <input asp-for="PurposeVisit" type="text"/>
                </div>
            </div>
        </div>
        <div class="ElementPanel Element2">
            <div class="ElementPanelHeader"> 
                <div>
                    Принимающая сторона
                </div>
            </div>
            <div class="ContainerElement2">
                <div>
                    Подразделение: 
                </div>
                 <div>
                    <select class="SelectDivision" asp-for="DivisionID" asp-items="@ViewBag.DivisionsItems" ></select>
                </div>
                <div>
                    ФИО: 
                </div>
                <div style="display: flex">
                    <select class="SelectEmployee" asp-for="EmployeeID" asp-items="@ViewBag.EmployeeItems"></select>
                    <img src="~/images/User.jpg" alt="фото" style="height: 30px; width: 27px;" />
                </div>
            </div>
        </div>
        <div class="ElementPanel Element3">
            <div class="ElementPanelHeader"> 
                <div>
                    Информация о посетителе
                </div>
            </div>
            <div class="ContainerElement3">
                <div class="ContainerElementInputObject">
                    <div style="grid-column: 1; grid-row: 1;">Фамилия:</div>
                    <div style="grid-column: 1; grid-row: 2;">Имя:</div>
                    <div style="grid-column: 1; grid-row: 3;">Отчество:</div>
                    <div style="grid-column: 1; grid-row: 4;">Телефон:</div>
                    <div style="grid-column: 1; grid-row: 5;">E-mail:</div>
                    <input asp-for="LastName" style="grid-column: 2; grid-row: 1;" type="text" />
                    <input asp-for="FistName" style="grid-column: 2; grid-row: 2;" type="text" />
                    <input asp-for="Patronomyc" style="grid-column: 2; grid-row: 3;" type="text" />
                    <input asp-for="Phone" style="grid-column: 2; grid-row: 4;" type="text" />
                    <input asp-for="Email" style="grid-column: 2; grid-row: 5;" type="text" />
                </div>
                <div class="ContainerElementInputObject">
                    <div style="grid-column: 1; grid-row: 1;">Организация:</div>
                    <div style="grid-column: 1; grid-row: 2;">Примечание:</div>
                    <div style="grid-column: 1; grid-row: 3;">Дата рождения:</div>
                    <div style="grid-column: 1; grid-row: 4;">Серия:</div>
                    <div style="grid-column: 1; grid-row: 5;">Номер:</div>
                    <input asp-for="Organization" style="grid-column: 2; grid-row: 1;" type="text" />
                    <input asp-for="Note" style="grid-column: 2; grid-row: 2;" type="text" />
                    <input asp-for="DateOfBrith" style="grid-column: 2; grid-row: 3;" type="date" />
                    <input asp-for="SeriesPassport" style="grid-column: 2; grid-row: 4;" type="text" />
                    <input asp-for="NumberPassport" style="grid-column: 2; grid-row: 5;" type="text" />
                </div>
                <div class="ContainerUploadingPhoto"> 
                    <div class="UploadingPhoto">
                        <img src="~/images/User.jpg" />
                        <button>Загрузить фото</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ElementPanel Element4">
            <div class="ElementPanelHeader"> 
                <div>
                    Прикрепляемые документы
                </div>
            </div>
            <div class="ContainerElement4">
                <div>Прикрепить файл*</div>
            </div>
        </div>
        <div class="Element5">
            <div>
                <a>
                    <div>Очистить форму</div>
                </a>
            </div>
            <div>
                <button type="submit">Оформить заявку</button>
            </div>
        </div>
    </div>
    </form>
</div>



<style>
    .MainPanel{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ApplicationHeader{
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 20px;

    }
    .ApplicationPanel{
        display: grid;
        height: 80vh;
        width: 160vh;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 35% 45% 20%;
    }
    .ElementPanel{
        display: grid;
        grid-template-rows: 30% 70%;
        background-color: lightgray;
        border-radius: 10px;
        box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.3);
        margin: 15px;
    }
    .ElementPanelHeader{
        display: flex;
        background-color: orange;
        border-radius: 10px 10px 0 0;
        justify-content: center;
        align-items: center;
    }
    .ElementPanelHeader div{
        font-size: 22px;
        font-weight: bold;
    }
    .Element2{
        grid-column: 2 / span 2;
    }
    .Element3{
        grid-column: 1 / span 3;
        grid-row: 2;
    }
    .Element4{
        grid-row: 3;
        grid-column: 1 / span 2;
    }
    .ContainerElement1{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin-bottom: 10px;
    }
    .ContainerElement1 div{
        font-size: 20px;
    }
    .ContainerElement1 input[type="text"]{
        font-size: 20px;
        width: 350px;
    }
    .ContainerElement1 input[type="date"]{
        font-size: 20px;
        width: 140px
    }
    .ContainerElement2{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        row-gap: 5px;
    }
    .ContainerElement2 div{
        font-size: 20px;
    }
    .SelectDivision{
        width: 800px;
        height: 30px;
        font-size: 20px;
    }
    .SelectEmployee{
        width: 750px;
        margin-right: 20px;
        height: 30px;
        font-size: 20px;
    }
    .ContainerElement3{
        display: grid;
        grid-template-columns: 40% 40% 20%;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-top: 10px;
        align-items: center;
    }
    .ContainerElementInputObject{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 10px;
    }
    .ContainerElementInputObject div{
        font-size: 20px;
    }
    .ContainerElementInputObject input{
        width: 300px;
        height: 25px;
    }
    .ContainerUploadingPhoto{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .UploadingPhoto{
       display: grid;
       grid-template-rows: 80% 20%;
       justify-content: center;
       justify-items: center;
       align-items: center;
    }
    .UploadingPhoto img{
        width: 120px;
        height: 130px;
        margin: 15px;
    }
    .UploadingPhoto button{
        width: 180px;
        height: 35px;
        font-size: 20px;
        background-color: white;
        border-color: orange;
        border-radius: 10px;
    }
    .ContainerElement4{
        display: flex;
        font-size: 20px;
        margin-left: 25px;
        align-items: center;
        justify-content: center;
    }
    .Element5{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content:center;
        justify-items: center;
        align-items: center;
        margin-inline: 55px;
    }
    .Element5 a{
        text-decoration: none;
        color: inherit;
    }
    .Element5 div{
        font-size: 20px;
    }
    .Element5 button{
        width: 250px;
        height: 45px;
        font-size: 20px;
        background-color: white;
        border-color: orange;
        border-radius: 10px;
    }
</style>