﻿@{
    ViewData["Title"] = "Поданные заявки";
}

<div class="MainPanel">
    <div class="ApplicationHeader">Ранее поданные заявки</div>
</div>



<style>
    .MainPanel{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ApplicationHeader{
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .ApplicationTable{
        height: 80vh;
        width: 160vh;
        margin-inline: 10%;
        background-color: orange;
    }
</style>
