* {
    font-family: Candara;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  margin: 0;
}
nav
{
    display: grid;
    grid-template-columns: 12% 68% 20%;
}
header {
    margin: 0;
    background-color: orange;
    height: 75px;
    position: sticky;
    top: 0em;
    bottom: 10px;
    width:100%;
    display: grid;
    align-items: center;
}
.MainHeaderElement1 {
    margin: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.MainHeaderElement1 div{
    font-size: 25px;
    color: white;
    font-weight: bold;
}
.MainHeaderTextUser {
    margin: 10px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.MainHeaderTextUser div {
        font-size: 20px;
        color: white;
        font-weight: bold;
}